{% extends "base.html.twig" %}
{% block body %}
    <a href="#" id="toto" class="btn btn-primary">gjufdd</a>
    <div id="checkboxlist">
        <div><input type="checkbox" value="1" class="chk"> Value 1</div>
        <div><input type="checkbox" value="2" class="chk"> Value 2</div>
        <div><input type="checkbox" value="3" class="chk"> Value 3</div>
        <div><input type="checkbox" value="4" class="chk"> Value 4</div>
        <div><input type="checkbox" value="5" class="chk"> Value 5</div>
        <div>
            <input type="button" value="Get Value Using Class" id="buttonClass">
            <input type="button" value="Get Value Using Parent Tag" id="buttonParent">
        </div>
    </div>
    <div id="jsonresponse">

    </div>
{% endblock %}

{% block javascripts %}
    <script>
    $("#buttonClass").click(function() {
        getValueUsingClass();
    });
    function getValueUsingClass(){
        /* declare an checkbox array */
        var chkArray = [];

        /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
        $(".chk:checked").each(function() {
            chkArray.push($(this).val());
        });

        /* we join the array separated by the comma */
        var selected;
        selected = chkArray.join(',') ;

        /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
        if(selected.length > 0){
            alert("You have selected " + selected);
        }else{
            alert("Please at least check one of the checkbox");
        }
    }
    $('#toto').on('click', function () {
        $( "#jsonresponse" ).empty();
        var href = "{{ path('app_lucky_ajaxresponse') }}";
        $.ajax({
            url: href,
            dataType: "json",
            success: function (jsonData) {
                //end loading
                console.log('success')
                console.log(jsonData)
                jQuery.each( jsonData, function( i, val ) {
                    $( "#jsonresponse" ).append( "<p><strong>" + val.nom + "</strong></p>" );
                });
            },

            error : function(resultat, statut, erreur){
                //end loading
                console.log('error')
            },

            complete : function(resultat, statut){
                //end loading
                console.log('complete')
            }
        });
    })
    </script>

{% endblock %}